@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span {
    display: block;
}


.container {
    width: 82%;
    margin: 0 auto;
    display: flex;
}

main  .container {
    flex-wrap: wrap;
    gap: 80px 30px;
}
.card{
width: 270px;

img {
    width: 100%;
}
}


.img-box {
    width: 270px;
    height:250px;
    padding: 22px 40px;
    background: #F5F5F5;
}

button {
    width: 100%;
    height: 41px;
    background: #000;
    color: white;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px ;
}

.card {
    position: relative;
}
#discount {
    top: 20px;
    left: 20px;
    position: absolute;
    background: red;
    color: white;
    padding: 4px 8px ;
    border-radius: 4px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header input {
        background: transparent;
        border: none;

}
header{
   padding-bottom: 23px;
   border-bottom: 1px solid grey;
   margin-bottom: 50px;
}
header .container{
    padding-top: 95px;
    display: flex;
    justify-content: space-between;

}
header ul:nth-child(2){
    gap: 48px;
    
}
header ul:nth-child(3){
    gap: 24px;
    

    li:nth-child(1){
        background: #F5F5F5;
        display: flex;
        padding: 8px 20px;
        align-items: center;
    }
}


